---
import Tag from "./Tag.astro";

interface Props {
  date: string;
  readTime: string;
  title: string;
  description: string;
  tags: string[];
  url?: string;
}

const { date, readTime, title, description, tags, url } = Astro.props;
---

<a href={url} class="transition hover:scale-[101%] duration-300" rel="prefetch">
  <div>
    <article
      class="overflow-hidden rounded-2xl divide-none shadow transition duration-300 bg-lightercontentbackground hover:bg-primary-900"
    >
      <div class="flex flex-col gap-2 py-4 px-4 sm:px-6">
        <h3 class="text-xl font-semibold tracking-tight">{title}</h3>
        <div class="flex flex-row gap-2 justify-start text-sm text-primary-400">
          <time>{date}&nbsp;•</time>
          <span>{readTime}</span>
        </div>
      </div>

      <div class="py-4 px-4 text-base sm:px-6">
        {description}
      </div>

      <div class="py-4 px-4 sm:px-6">
        <ul class="flex flex-row flex-wrap gap-2">
          {tags.map((tag) => <Tag>{tag}</Tag>)}
        </ul>
      </div>
    </article>
  </div>
</a>
